.SearchResults {
  padding: 1rem;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* @media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
} */
