@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

header, body, main {
  font-family: 'Montserrat', sans-serif;
}


/* body,
html,
#root {
  height: 100%;
} */

/* html {
  font-size: 18px;
} */

/* h1 {
  padding: 0.77rem 0;
  background-color: #b16d22;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
} */

/* h1 .highlight {
  color: rgb(46, 113, 238);
} */

/* a {
  text-decoration: none;
  color: #fff;
} */

/* h2 {
  font-size: 1rem;
} */

/* .App {
  /* height: 100%; */
  /* background-image: url("https://source.unsplash.com/8e0EHPUx3Mo");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* font-weight: 500; 
 }  */

/* .App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

/* @media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
} */