.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  background-color: rgba(253, 254, 255, 0.7);
}

.Playlist input {
  width: 60%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
  font-weight: bolder;
  font-size: 1.2rem;
}

