.shape {
  width: 250px;
  height: 250px;
  margin: 1rem;
  transition: transform 200ms ease;
  border-radius: 5px;
}
.inner_container {
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
.shape:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h4 {
  padding: 2.5rem;
  color: rgb(3, 56, 38);
}
._container {
  display: flex;
  margin-left: 8rem;
}
.titles {
  padding-left: 1rem;
}
