.shape {
  width: 250px;
  height: 250px;
  margin: 1rem;
}

h4 {
  padding: 2.5rem;
  color: rgb(3, 56, 38);
}
._container {
  display: flex;
  margin-left: 8rem;
}
.titles {
  padding-left: 1rem;
}
