h2,
.text_light {
  margin-top: 1rem;
  font-weight: 100;
  font-size: 2.5rem;
}

.activity_button {
  margin: 1.4rem;
  width: 11rem;
}

@media (max-width: 767px) {
  h2,
  .text_light {
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.5rem;
  }
}

.act-btn{
    /* background-image: url("https://source.unsplash.com/2gu4hKuFhi0/400x400"); */
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 2rem;
   
}
.box{
  background: rgba(151, 95, 215, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}
