h2,
.text_light {
  margin-top: 1rem;
  font-weight: 100;
  font-size: 2.5rem;
}

.activity_button {
  margin: 1.4rem;
  width: 11rem;
}

@media (max-width: 767px) {
  h2,
  .text_light {
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.5rem;
  }
}
