.mr-3 {
  color: white;
  font-size: 1rem;
}

Nav a, Nav a:hover {
  color: white;
}

.mr-5:hover {
  color: rgb(227, 126, 4);
  filter: brightness(1.2);
}
.item_box {
  background-color: rgba(255, 255, 255, 0.4);
  width: 130px;
  height: 75px;
  border-radius: 2px;
  position: absolute;
  overflow: hidden;
  padding: 0.5rem;
  top: 6rem;
  right: 1rem;
}

.out:hover {
  text-decoration: none;
}