.nav-link {
	font-size: 1rem;
}

.nav-link:hover {
	filter: brightness(0.9);
}

@media (max-width: 767px) {
	#logo {
		width: 30vw;
		cursor: pointer;
	}
}

@media (min-width: 767px) {
	#logo {
		width: 14vw;
		cursor: pointer;
	}
}
