.mr-5 {
  color: white;
  font-size: 1rem;
}

Nav a, Nav a:hover {
  color: white;
<<<<<<< HEAD
  margin-right: 1rem;
}

=======
}
Nav img{
  size: 25px;
}
>>>>>>> d65544dcd917ba01d0e4bb18b51a4bc56d05d5c7
