.head {
  text-align: center;
  color: white;
}

table {
  width: 100%;
  /* color: white; */
  background-color: rgba(253, 254, 255, 0.9);
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid rgba(126, 2, 214, 0.9);
  /* border-bottom: 1px solid #e1e1e1; */
}

th:first-child,
td:first-child {
  padding-left: 2px;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.play {
  cursor: pointer;
}

.play:hover {
  background: rgba(139, 37, 167, 0.3);
}
